<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Singer</title>

</head>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
    <h1>Singer Details</h1>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${singer.firstName}">Singer First Name</p></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${singer.lastName}">Singer Last Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${singer.description}">Singer Description</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">BirthDate:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${{singer.birthDate}}">Singer BirthDate</p>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
